In [17]:
import requests
import pandas as pd

# URL of the JSON file
url = "https://sandman.sleepcycle.com/data/per-country-stats"  # Replace with your actual URL

# Fetch data
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    
    # Convert JSON to DataFrame
    df = pd.DataFrame(data)

else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

In [18]:
df.head(10)

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,us,0.77885017246852,27528.300952472186,2711.280143463974,-0.02375434138644403,0.2957776976491322,271189
1,jp,0.7062073787610248,24570.33131019924,3710.105389787127,0.007272648058215652,0.2914369803333224,98527
2,nz,0.7882537039045873,28171.88264904829,2751.455821712056,-0.0311071813789867,0.2956809872515122,6357
3,id,0.7343936310223335,25852.580116959067,2043.8657575187717,-0.00837745009927181,0.2910465814528112,855
4,at,0.7705948127338346,27552.20421926336,3043.788240866815,-0.020120414159038712,0.29976139715992545,5783
5,it,0.7590242451290253,26868.059552026545,3438.2442075230506,0.003956546980323223,0.31517204766512813,16876
6,za,0.7653414219598598,27085.915228231683,2436.587470564196,-0.04559642129537438,0.26870648533745495,2607
7,ru,0.757045642376465,26963.16239316239,2126.487544453324,0.021012358962748733,0.3336174490955814,10764
8,None,0.7578383347995755,26781.081091088636,2477.397215271028,0.0068753994075796115,0.31703726445165287,8102
9,lv,0.7709603878454654,27805.05807622504,3083.032997140289,-0.006745022603062756,0.3156044262572309,1102

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             61 non-null     object
 1   avg_sleep_quality   62 non-null     object
 2   avg_duration        62 non-null     object
 3   avg_snore_duration  62 non-null     object
 4   avg_bedtime         62 non-null     object
 5   avg_wakeup          62 non-null     object
 6   group_size          62 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

In [20]:
df = df.dropna(axis=0)
df.head(10)

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,us,0.77885017246852,27528.300952472186,2711.280143463974,-0.02375434138644403,0.2957776976491322,271189
1,jp,0.7062073787610248,24570.33131019924,3710.105389787127,0.007272648058215652,0.2914369803333224,98527
2,nz,0.7882537039045873,28171.88264904829,2751.455821712056,-0.0311071813789867,0.2956809872515122,6357
3,id,0.7343936310223335,25852.580116959067,2043.8657575187717,-0.00837745009927181,0.2910465814528112,855
4,at,0.7705948127338346,27552.20421926336,3043.788240866815,-0.020120414159038712,0.29976139715992545,5783
5,it,0.7590242451290253,26868.059552026545,3438.2442075230506,0.003956546980323223,0.31517204766512813,16876
6,za,0.7653414219598598,27085.915228231683,2436.587470564196,-0.04559642129537438,0.26870648533745495,2607
7,ru,0.757045642376465,26963.16239316239,2126.487544453324,0.021012358962748733,0.3336174490955814,10764
9,lv,0.7709603878454654,27805.05807622504,3083.032997140289,-0.006745022603062756,0.3156044262572309,1102
10,eg,0.698590790194437,24958.150411280843,1714.6774156733613,0.0405245151724433,0.33132171123730914,851

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 0 to 61
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             61 non-null     object
 1   avg_sleep_quality   61 non-null     object
 2   avg_duration        61 non-null     object
 3   avg_snore_duration  61 non-null     object
 4   avg_bedtime         61 non-null     object
 5   avg_wakeup          61 non-null     object
 6   group_size          61 non-null     object
dtypes: object(7)
memory usage: 3.8+ KB

In [22]:
import numpy as np 

df.loc[:,['avg_sleep_quality','avg_duration','avg_snore_duration','avg_bedtime','avg_wakeup']] = \
df.loc[:,['avg_sleep_quality','avg_duration','avg_snore_duration','avg_bedtime','avg_wakeup']].astype(float)

df.head(10)

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,us,0.77885,27528.300952,2711.280143,-0.023754,0.295778,271189
1,jp,0.706207,24570.33131,3710.10539,0.007273,0.291437,98527
2,nz,0.788254,28171.882649,2751.455822,-0.031107,0.295681,6357
3,id,0.734394,25852.580117,2043.865758,-0.008377,0.291047,855
4,at,0.770595,27552.204219,3043.788241,-0.02012,0.299761,5783
5,it,0.759024,26868.059552,3438.244208,0.003957,0.315172,16876
6,za,0.765341,27085.915228,2436.587471,-0.045596,0.268706,2607
7,ru,0.757046,26963.162393,2126.487544,0.021012,0.333617,10764
9,lv,0.77096,27805.058076,3083.032997,-0.006745,0.315604,1102
10,eg,0.698591,24958.150411,1714.677416,0.040525,0.331322,851

In [26]:
df['country'] = df['country'].str.upper()
df

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,US,0.77885,27528.300952,2711.280143,-0.023754,0.295778,271189
1,JP,0.706207,24570.33131,3710.10539,0.007273,0.291437,98527
2,NZ,0.788254,28171.882649,2751.455822,-0.031107,0.295681,6357
3,ID,0.734394,25852.580117,2043.865758,-0.008377,0.291047,855
4,AT,0.770595,27552.204219,3043.788241,-0.02012,0.299761,5783
...,...,...,...,...,...,...,...
57,AE,0.750862,26519.841667,2436.200706,0.007289,0.314798,2280
58,SA,0.719915,25444.295376,2327.359136,0.054558,0.347939,1449
59,CH,0.773481,27429.073501,2722.453048,-0.015232,0.302542,13238
60,LT,0.764599,27277.520935,2307.613602,-0.000617,0.315274,1027
61,IE,0.774975,27399.738545,2502.748976,-0.001845,0.316376,3930

In [27]:
import pandas as pd

df = df.to_csv('sleep_df.csv', index=False)